@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

#wrap {
  font-family: "Noto Sans KR";
  letter-spacing: -0.5px;
}
#wrap > header {
  position: fixed;
  width: 100%;
  height: 106px;
  margin-top: -106px;
  z-index: 100;
  background-color: #fff;
}
#wrap > header > .snb_container {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eee;
}
#wrap > header > .snb_container > .container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
#wrap > header > .snb_container > .container > .snb {
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
#wrap > header > .snb_container > .container > .snb > li:first-child {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
}
#wrap > header > .snb_container > .container > .snb > li > a {
  font-size: 12px;
}
#wrap > header > .snb_container > .container > .snb > li > a > span {
  color: #878787;
}
#wrap > header > .container {
  position: relative;
  width: 1200px;
  height: 66px;
  margin: 0 auto;
}
#wrap > header > .container > .logo {
  position: absolute;
  left: 0;
  top: 50%;
  width: 80px;
  margin-top: -10px;
  background-image: url(./../images/logo.png);
  background-size: cover;
}
#wrap > header > .container > .logo > a {
  display: block;
  height: 23.33px;
  text-indent: -9999px;
}
#wrap > header > .container > nav {
  position: absolute;
  left: 100px;
  top: 50%;
  margin-top: -8px;
}
#wrap > header > .container > nav > .gnb {
  display: flex;
}
#wrap > header > .container > nav > .gnb > li {
  margin-left: 56px;
}
#wrap > header > .container > nav > .gnb > li > a {
  font-family: "Noto Serif KR";
  font-size: 18px;
  font-weight: bold;
}
#wrap > header > .container > nav > .gnb > li > a:hover {
  text-decoration: underline;
}
#wrap > header > .container > .login {
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 50%;
  width: 120px;
  height: 40px;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: #2D2A26;
  border-radius: 40px;
}
#wrap > header > .container > .search {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background-image: url(./../images/search.svg);
}
#wrap > .visual {
  margin-top: 106px;
}
#wrap > .visual > .slides-container {
  overflow: hidden;
  position: relative;
  width: 1920px;
  height: 480px;
  margin: 0 auto;
}
#wrap > .visual > .slides-container > .slides {
  display: flex;
  position: absolute;
  left: -1920px;
  top: 0;
  width: 15360px;
}
#wrap > .visual > .slides-container > .slides > li {
  width: 1920px;
  background-size: contain;
}
#wrap > .visual > .slides-container > .slides > li.slide-1 {
  background-image: url(./../images/visual1.jpg);
}
#wrap > .visual > .slides-container > .slides > li.slide-2 {
  background-image: url(./../images/visual2.jpg);
}
#wrap > .visual > .slides-container > .slides > li.slide-3 {
  background-image: url(./../images/visual3.jpg);
}
#wrap > .visual > .slides-container > .slides > li.slide-4 {
  background-image: url(./../images/visual4.jpg);
}
#wrap > .visual > .slides-container > .slides > li.slide-5 {
  background-image: url(./../images/visual5.jpg);
}
#wrap > .visual > .slides-container > .slides > li.slide-6 {
  background-image: url(./../images/visual6.jpg);
}
#wrap > .visual > .slides-container > .slides > li > a {
  display: block;
  height: 480px;
}
#wrap > .visual > .slides-container > .indicator {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 50%;
  bottom: 15px;
  width: 1210px;
  margin-left: -600px;
}
#wrap > .visual > .slides-container > .indicator > li {
  width: 200px;
  height: 48px;
  padding: 0 8px;
  background-color: #fff;
  box-sizing: border-box;
}
#wrap > .visual > .slides-container > .indicator > li.on > a {
  font-weight: bold;
}
#wrap > .visual > .slides-container > .indicator > li > a {
  display: block;
  line-height: 48px;
  text-align: center;
}
#wrap > .visual > .slides-container > .pagination {
  display: block;
  position: absolute;
  top: 50%;
  width: 76px;
  height: 76px;
  margin-top: -38px;
  text-indent: -9999px;
}
#wrap > .visual > .slides-container > .pagination.prev {
  left: 300px;
  background-image: url(./../images/btn_prev.svg);
}
#wrap > .visual > .slides-container > .pagination.next {
  right: 300px;
  background-image: url(./../images/btn_next.svg);
}
#wrap > .best-article {
  width: 1200px;
  margin: 32px auto 0;
}
#wrap > .best-article > .article-mnu {
  display: flex;
  justify-content: space-between;
}
#wrap > .best-article > .article-mnu > li {
  width: 294px;
  background-color: #F5F7F7;
  background-repeat: no-repeat;
  background-position: 0 14px;
  border-radius: 8px;
}
#wrap > .best-article > .article-mnu > li > a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 294px;
  height: 64px;
  font-weight: bold;
  font-size: 13px;
}
#wrap > .best-article > .article-mnu > li > a > img {
  display: block;
  margin-right: 7px;
}
#wrap > .best-article > .article-mnu > li > a > span {
  display: block;
}
#wrap > .best-article > article {
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-top: 50px;
}
#wrap > .best-article > article > .container {
  display: flex;
  justify-content: space-between;
}
#wrap > .best-article > article > .container > h2 {
  font-size: 15px;
}
#wrap > .best-article > article > .container > h2 > span {
  color: #878787;
  font-weight: normal;
  font-size: 12px;
}
#wrap > .best-article > article > .container > .pagination {
  display: flex;
}
#wrap > .best-article > article > .container > .pagination > .prev {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./../images/btn_prev_small.svg);
}
#wrap > .best-article > article > .container > .pagination > .next {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./../images/btn_next_small.svg);
}
#wrap > .best-article > article > .article-list {
  display: flex;
  position: absolute;
  left: 0;
  top: 10px;
  width: 3600px;
  margin-top: 30px;
}
#wrap > .best-article > article > .article-list > li {
  width: 282px;
  margin-right: 24px;
}
#wrap > .best-article > article > .article-list > li:nth-child(4), #wrap > .best-article > article > .article-list > li:nth-child(8), #wrap > .best-article > article > .article-list > li:nth-child(12) {
  margin-right: 0;
}
#wrap > .best-article > article > .article-list > li:nth-child(1) > a > .frame {
  background-image: url(./../images/article1.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(2) > a > .frame {
  background-image: url(./../images/article2.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(3) > a > .frame {
  background-image: url(./../images/article3.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(4) > a > .frame {
  background-image: url(./../images/article4.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(5) > a > .frame {
  background-image: url(./../images/article5.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(6) > a > .frame {
  background-image: url(./../images/article6.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(7) > a > .frame {
  background-image: url(./../images/article7.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(8) > a > .frame {
  background-image: url(./../images/article8.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(9) > a > .frame {
  background-image: url(./../images/article9.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(10) > a > .frame {
  background-image: url(./../images/article10.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(11) > a > .frame {
  background-image: url(./../images/article11.jpg);
}
#wrap > .best-article > article > .article-list > li:nth-child(12) > a > .frame {
  background-image: url(./../images/article12.jpg);
}
#wrap > .best-article > article > .article-list > li > a {
  display: block;
  width: 282px;
  height: 393px;
}
#wrap > .best-article > article > .article-list > li > a > .frame {
  width: 100%;
  height: 282px;
  text-indent: -9999px;
  background-size: cover;
  background-position: center center;
}
#wrap > .best-article > article > .article-list > li > a > .category {
  display: block;
  margin: 20px 0 10px 0;
  color: #008375;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: -0.22px;
}
#wrap > .best-article > article > .article-list > li > a > .tit {
  margin-bottom: 20px;
  color: #2D2A26;
  font-family: "Noto Serif KR";
  font-weight: 500;
  font-size: 15px;
}
#wrap > .best-article > article > .article-list > li > a > .tit:hover {
  text-decoration: underline;
}
#wrap > .best-article > article > .article-list > li > a > .name {
  color: #2D2A26;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.24px;
}
#wrap > .seminar {
  display: flex;
  width: 1200px;
  margin: 135px auto 75px;
}
#wrap > .seminar > .live {
  position: relative;
  width: 719px;
}
#wrap > .seminar > .live > h2 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
}
#wrap > .seminar > .live > .all {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: underline;
}
#wrap > .seminar > .live > ul {
  display: flex;
  height: 402px;
  margin-top: 50px;
}
#wrap > .seminar > .live > ul > li:nth-child(1) {
  margin-right: 80px;
}
#wrap > .seminar > .live > ul > li:nth-child(3) {
  width: 306px;
}
#wrap > .seminar > .live > ul > li > .date {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.3px;
}
#wrap > .seminar > .live > ul > li > .d-day {
  display: block;
  font-weight: bold;
  font-size: 32px;
}
#wrap > .seminar > .live > ul > li > .frame {
  width: 236px;
  height: 354px;
  margin-right: 32px;
  background-image: url(./../images/seminar.jpg);
  background-size: contain;
}
#wrap > .seminar > .live > ul > li > .deadline {
  display: inline-block;
  width: 80px;
  height: 24px;
  margin-bottom: 8px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  background-color: #ff5c3e;
}
#wrap > .seminar > .live > ul > li > .tit {
  display: block;
  margin-bottom: 12px;
  color: #2D2A26;
  font-family: "Noto Serif KR";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.36px;
}
#wrap > .seminar > .live > ul > li > .tit:hover {
  text-decoration: underline;
}
#wrap > .seminar > .live > ul > li > .host {
  display: block;
  margin-bottom: 24px;
}
#wrap > .seminar > .live > ul > li > .host > .name {
  font-weight: bold;
}
#wrap > .seminar > .live > ul > li > div {
  display: flex;
}
#wrap > .seminar > .live > ul > li > div > img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
#wrap > .seminar > .live > ul > li > div > .location {
  display: block;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 1.54;
}
#wrap > .seminar > .live > ul > li > div > .period {
  display: block;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 1.54;
}
#wrap > .seminar > .live > ul > li > .price {
  display: block;
  margin-bottom: 10px;
  color: #878787;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.24px;
}
#wrap > .seminar > .live > ul > li > .price > em {
  margin: 0 2px;
  font-size: 15px;
}
#wrap > .seminar > .live > ul > li > .membership {
  display: block;
  margin-bottom: 24px;
  color: #008375;
}
#wrap > .seminar > .live > ul > li > .membership > .free {
  margin: 0 2px 0 8px;
  font-family: "Noto Serif KR";
  font-size: 18px;
  font-weight: bold;
}
#wrap > .seminar > .live > ul > li > .apply {
  display: block;
  width: 282px;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background-color: #2D2A26;
  border-radius: 56px;
}
#wrap > .seminar > .bar {
  margin: 0 48px;
  width: 1px;
  height: 462px;
  background-color: #E9E9E9;
}
#wrap > .seminar > .vod {
  position: relative;
}
#wrap > .seminar > .vod > h2 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 15px;
}
#wrap > .seminar > .vod > .all {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: underline;
}
#wrap > .seminar > .vod > ul {
  margin-top: 45px;
}
#wrap > .seminar > .vod > ul > li {
  display: flex;
  margin-top: 16px;
}
#wrap > .seminar > .vod > ul > li:nth-child(1) > .video {
  background-image: url(./../images/video1.jpg);
}
#wrap > .seminar > .vod > ul > li:nth-child(2) > .video {
  background-image: url(./../images/video2.png);
}
#wrap > .seminar > .vod > ul > li:nth-child(3) > .video {
  background-image: url(./../images/video3.jpg);
}
#wrap > .seminar > .vod > ul > li > .video {
  width: 192px;
  height: 128px;
  margin-right: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrap > .seminar > .vod > ul > li > .video > a {
  display: block;
  width: 192px;
  height: 128px;
  text-indent: -9999px;
}
#wrap > .seminar > .vod > ul > li > ol {
  display: flex;
  width: 176px;
  flex-flow: column wrap;
  justify-content: center;
}
#wrap > .seminar > .vod > ul > li > ol > li.category {
  display: block;
  margin-bottom: 4px;
  color: #008375;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: -0.22px;
}
#wrap > .seminar > .vod > ul > li > ol > li.tit {
  margin-bottom: 12px;
}
#wrap > .seminar > .vod > ul > li > ol > li.tit > a {
  display: block;
  font-family: "Noto Serif KR";
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
}
#wrap > .seminar > .vod > ul > li > ol > li.tit > a:hover {
  text-decoration: underline;
}
#wrap > .seminar > .vod > ul > li > ol > li.host > .name {
  font-weight: bold;
  line-height: 1.5;
}
#wrap > .letter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 370px;
  margin: 0 auto 48px;
  background-color: #F5F7F7;
}
#wrap > .letter > h2 {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
}
#wrap > .letter > p {
  margin-bottom: 24px;
  font-size: 15px;
  line-height: 1.47;
  text-align: center;
}
#wrap > .letter > p > span {
  display: block;
}
#wrap > .letter > form {
  margin-bottom: 24px;
}
#wrap > .letter > form > input {
  display: block;
  width: 384px;
  height: 48px;
  margin-bottom: 8px;
  padding-left: 16px;
  font-family: "Noto Sans KR";
  font-size: 15px;
  border: 1px solid #E9E9E9;
}
#wrap > .letter > button {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  margin-bottom: 16px;
  font-family: "Noto Sans KR";
  font-size: 12px;
  letter-spacing: -0.24px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: #2D2A26;
  border-radius: 40px;
}
#wrap > .letter > a {
  text-decoration: underline;
}
#wrap > .paper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 236px;
  margin: 0 auto 80px;
  background-image: url(./../images/paper-bg.png);
}
#wrap > .paper > h2 {
  margin-bottom: 8px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
}
#wrap > .paper > p {
  margin-bottom: 24px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
#wrap > .paper > p > span {
  display: block;
}
#wrap > .paper > button {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  margin-bottom: 16px;
  font-family: "Noto Sans KR";
  font-size: 12px;
  letter-spacing: -0.24px;
  text-align: center;
  line-height: 40px;
  color: #2D2A26;
  background-color: #fff;
  border-radius: 40px;
}
#wrap > .paper > a {
  color: #fff;
  text-decoration: underline;
}
#wrap > .linker {
  overflow: hidden;
  position: relative;
  width: 1200px;
  height: 160px;
  margin: 0 auto 100px;
}
#wrap > .linker > .container {
  display: flex;
  justify-content: space-between;
}
#wrap > .linker > .container > h2 {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
}
#wrap > .linker > .container > .pagination {
  display: flex;
}
#wrap > .linker > .container > .pagination > .prev {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./../images/btn_prev_small.svg);
}
#wrap > .linker > .container > .pagination > .next {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(./../images/btn_next_small.svg);
}
#wrap > .linker > ul {
  display: flex;
  position: absolute;
  left: 0;
  top: 30px;
  width: 3600px;
  margin-top: 20px;
}
#wrap > .linker > ul > li {
  width: 300px;
}
#wrap > .linker > ul > li:nth-child(1) > a > .frame {
  background-image: url(./../images/linker1.jpeg);
}
#wrap > .linker > ul > li:nth-child(2) > a > .frame {
  background-image: url(./../images/linker2.jpeg);
}
#wrap > .linker > ul > li:nth-child(3) > a > .frame {
  background-image: url(./../images/linker3.jpeg);
}
#wrap > .linker > ul > li:nth-child(4) > a > .frame {
  background-image: url(./../images/linker4.jpeg);
}
#wrap > .linker > ul > li:nth-child(5) > a > .frame {
  background-image: url(./../images/linker5.jpeg);
}
#wrap > .linker > ul > li:nth-child(6) > a > .frame {
  background-image: url(./../images/linker6.jpeg);
}
#wrap > .linker > ul > li:nth-child(7) > a > .frame {
  background-image: url(./../images/linker7.jpeg);
}
#wrap > .linker > ul > li:nth-child(8) > a > .frame {
  background-image: url(./../images/linker8.jpeg);
}
#wrap > .linker > ul > li:nth-child(9) > a > .frame {
  background-image: url(./../images/linker9.jpeg);
}
#wrap > .linker > ul > li:nth-child(10) > a > .frame {
  background-image: url(./../images/linker10.jpeg);
}
#wrap > .linker > ul > li:nth-child(11) > a > .frame {
  background-image: url(./../images/linker11.jpeg);
}
#wrap > .linker > ul > li:nth-child(12) > a > .frame {
  background-image: url(./../images/linker12.jpeg);
}
#wrap > .linker > ul > li:hover > a > .name {
  text-decoration: underline;
}
#wrap > .linker > ul > li > a {
  display: flex;
  align-items: center;
}
#wrap > .linker > ul > li > a > .frame {
  width: 100px;
  height: 100px;
  text-indent: -9999px;
  background-size: cover;
  border-radius: 50px;
  border: 1px solid #fff;
}
#wrap > .linker > ul > li > a > .name {
  padding-left: 15px;
  font-family: "Noto Serif KR";
  font-size: 18px;
  line-height: 1.6;
}
#wrap > .linker > ul > li > a > .name > .who {
  display: block;
  font-family: "Noto Sans KR";
  font-size: 13px;
  line-height: 1.5;
}
#wrap > footer {
  height: 250px;
}
#wrap > footer > .policy {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#wrap > footer > .policy > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 55px;
  margin: 0 auto;
}
#wrap > footer > .policy > .container > .notice > .category {
  display: inline-block;
  width: 36px;
  height: 20px;
  color: #F24949;
  line-height: 20px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #F24949;
}
#wrap > footer > .policy > .container > .notice > .tit {
  margin-left: 5px;
  font-size: 13px;
}
#wrap > footer > .policy > .container > .notice > .tit:hover {
  text-decoration: underline;
}
#wrap > footer > .policy > .container > ul {
  display: flex;
}
#wrap > footer > .policy > .container > ul > li {
  margin-right: 10px;
}
#wrap > footer > .policy > .container > ul > li:last-child {
  margin-right: 0;
}
#wrap > footer > .policy > .container > ul > li > a:hover {
  text-decoration: underline;
}
#wrap > footer > .info {
  width: 1200px;
  margin: 0 auto;
  color: #878787;
  font-size: 11px;
}
#wrap > footer > .info > h2 {
  margin-top: 30px;
  font-size: 12px;
}
#wrap > footer > .info > address {
  margin-top: 8px;
  line-height: 1.6;
}
#wrap > footer > .info > p {
  margin-top: 8px;
}/*# sourceMappingURL=style.css.map */